import /init.recovery.qcom.rc

on fs
    # Load Tuxera exfat module
    insmod /system/lib/modules/texfat.ko

on boot
    start chargeled

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:healthd:s0

service detect_key /sbin/detect_key
    disabled
    seclabel u:r:healthd:s0
    oneshot

service offmode_charging /sbin/offmode_charging
    disabled
    seclabel u:r:healthd:s0
