# The seclabels are not needed when built in Android 8.0 tree
# in 7.1 however the below do not exist, so run them under vold
service sys_hwsvcmngr /system/bin/hwservicemanager
    user root
    group root
    setenv PATH /system/bin
    setenv LD_LIBRARY_PATH /system/lib64:/system/lib
    onrestart setprop hwservicemanager.ready false
    disabled
    oneshot
    seclabel u:r:vold:s0